#container{
    /* background-image: url("https://wallpapercave.com/wp/YsmdCUB.jpg"); */
    background-color: rgb(203, 224, 250);
}


#jumbotron {
    background-image:url("https://wallpapercave.com/wp/YsmdCUB.jpg");
    /* background-image: url("https://img.wallpapersafari.com/desktop/1440/900/84/13/vB0fal.png"); */
    color:rgb(25, 23, 36);
    border-bottom: rgb(146, 200, 253) solid 5px;
    border-top:rgb(201, 223, 245) solid 5px;
    background-position:0% 25%;
    margin-bottom: 0px;
    padding-left: 5px;
}

#header {
    text-align: center;
}

#about {
    background-color:lightblue;
    
}


/* @media screen and (max-width: 480px){
    .container-fluid{
        width: 100%;
        margin: 0px;
        padding: 0px;
        clear: both;

    }
    #image{
        overflow-wrap: break-word;
    }
} */