
html{
    height: 100%;
}
body{
    height: 100%;
}
#date{
    color: white;
    margin-left: 20px;
}

/* jumbotron background and style */
#jumbotron {
    background-image:url("https://wallpapercave.com/wp/YsmdCUB.jpg");
    /* background-image: url("https://img.wallpapersafari.com/desktop/1440/900/84/13/vB0fal.png"); */
    color:rgb(25, 23, 36);
    border-bottom: rgb(146, 200, 253) solid 5px;
    border-top:rgb(201, 223, 245) solid 5px;
    background-position:0% 25%;
    margin-bottom: 0px;
    padding-left: 5px;
    
}
/* jumbotron h1 style */
#jumbotron h1{
    font-family: kanit;
}
/* jumbotron paragraph style */
#jumbotron p{
    font-family: Roboto ;
}



/* card box style */
#contact-card{
    margin-left: auto;
    margin-right: auto;
}
#contact{
    font-family: sriracha;
    font-size: 23px;
}



/* main body background style */
main{
    background-color: rgb(203, 224, 250);
}
/* main container paragraph style */
main p{
    font-family: sriracha;
    line-height: 30px;
    font-size: 23px;
    text-indent: 30px;
}

/* main container h1 style */
main h1{
    font-family: chewy;
    text-align: center;
}

#container{
    height: 100%;
   overflow: auto;
}
footer p{
    color: rgb(151, 148, 148); 
    font-family: srirachar; 
    text-indent: 20px; 
    margin-left: 10px;
    margin-top: 5px;
    
}



/* media query for jumbotron visibilty on smaller devices */


/* medium screens ie: tablets */
@media screen and (max-width: 768px){
    #jumbotron{
        background-position: 45% 25% ;
    }
    #jumbotron p{
        font-weight: bold;
        margin-left: 30px;
    }
}

/* smaller screens ie: phones */
@media screen and (max-width: 480px){
    #jumbotron{
        background-position: 54% 25% ;
    }
    #jumbotron p{
        font-weight: bold;
        margin-left: 5px;
        margin-right: 20px;
    }
    #jumbotron h1{
        font-size: 45px;
    }
}